@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  overflow: hidden !important;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #1976d2 !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.data-card {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
  margin-right: 14px;
}

.menu-selected {
  background-color: #1976d2;
  color: #FFFFFF;
  font-weight: bold;
}

.menu-selected-icon {
  color: #FFFFFF !important;
}

.process-model-visualization {
  width: 100%;
}
.edge {
  cursor: pointer;
}
.edge:hover {
  filter: brightness(0.6);
}

.data-preparation {
  height: 100%;
  overflow: auto;
}
